*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

div{
    width: 600px;
    margin: auto;
}

body{
    background-color: rgb(214, 214, 214);
}

#excuse{
    background: rgb(105, 100, 100);
    text-align: center;
    margin-top: 20px;
    font-size: 35px;
}

#excuseText{
    background: rgb(55, 190, 100);
    text-align: center;
    border: 1px solid black;
    margin-top: 20px;
    font-size: 20px;
    font-style: oblique;
}